# Telegram Bot Configuration
TELEGRAM_BOT_USERNAME=your_bot_username
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_BOT_CREATOR=your_telegram_user_id

# MySQL Configuration
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_USER_PASSWORD=your_user_password
